// Estilização da página ListarProfessores
.page-listar-professores {
  padding: 20px;
  font-family: Arial, sans-serif;

  .header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .back-button {
      text-decoration: none;
      color: #fff;
      background: #f45f2f; 
      padding: 10px 20px; 
      border-radius: 5px;
      transition: 0.3s;
      font-size: 14px;

      &:hover {
        background: #e04e1f;
      }
    }
  }

  h2 {
    color: #333;
    text-align: center; // Centraliza o título
    margin-top: -50px;
    margin-bottom: 50px;
  }
}
